.cardContainer {
  border-radius: 1rem;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 320px;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.5;
}

.cardContainer:first-child {
  background-image: url(/static/img/vyWorlds.jpg);
}
.cardContainer:nth-child(2) {
  background-image: url(/static/img/illuvium.jpg);
}

.statisticsNumber {
  composes: text-heading-title from '../../css/custom.css';
  color: #ffffff;
  text-align: center;
  margin: 0;
}

.statisticsLabel {
  composes: text-body-03-emphasis from '../../css/custom.css';
  color: #ffffff;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
}

.subtitle {
  composes: text-heading-03 from '../../css/custom.css';
  color: #ffffff;
  text-align: center;
  margin: 0;
}

.description {
  composes: text-body-02 from '../../css/custom.css';
  color: #ffffff;
  text-align: center;
  margin: 0;
  margin-top: 0.5rem;
}

@media (min-width: 376px) {
  .cardContainer {
    padding: 3.75rem 5rem;
  }
}

@media (min-width: 600px) {
  .cardContainer {
    height: 520px;
    padding: 3.5rem 4rem 2.875rem 4rem;
  }
  .statisticsNumber {
    font-family: 'Favorit Std';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 112px;
  }
  .subtitle {
    font-family: 'Favorit Std';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
  }
  .description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
}
